
.titulo-presentacion{
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
    margin-bottom: 20px;
}
.titulo-presentacion-cover{
    display: flex;
    background-color: #3E03B0;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 0px black;
}
.titulo-presentacion button {
    margin-top: 20px;
    border-radius: 30px;
    width: 130px;
    height: 40px;
    background: rgb(144,116,246);
background: linear-gradient(86deg, rgba(144,116,246,1) 24%, rgba(98,62,234,1) 48%);
    color: white;
    box-shadow: 5px 5px 0px black;
}


.seccion-presentacion{
    background: url(../imagenes/background.jpg);
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.titulo-presentacion{
    width: 50%;
    
}

.seccion-presentacion img {
   width: 500px;
   border-radius: 30px;
}

/* lo mas relevante de la semana */
.titulo-relevancia {
    display: flex;
    justify-content: center;
    background: url(../imagenes/background.jpg);
}
.titulo-relevancia h1{
    color: black;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
}
.need-cover{
    padding: 60px;
    background: url(../imagenes/background.jpg) ;

}
.noticia-need{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    background-color:  white;
    box-shadow: 7px 8px 0px black;
}
.noticia-info-need{
   color: black;
   display: flex;
   flex-direction: column;
   width: 500px;
   font-family: 'Bodoni Moda', serif;
   font-family: 'Press Start 2P', cursive;
   font-family: 'Space Mono', monospace;
   text-shadow: 5px 4px 5px gray;
}
.noticia-info-need button{
    width: 200px;
    box-shadow: 5px 5px 0px black;
}

.img-need img{
    width: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 0px gray;
   
}

/* noticia xbox */

.noticia-xbox{
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    background-color:  white;
    box-shadow: 7px 8px 0px black;
}

.noticia-info-xbox{
    color:black;
    display: flex;
    flex-direction: column;
    width: 500px;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px gray;
 }

 .noticia-info-xbox button{
    width: 200px;
    box-shadow: 5px 5px 0px black;
}

.img-xbox img{
    width: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 0px gray;
   
}

/* elden ring galardon */

.noticia-elden{
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    background-color:  white;
    box-shadow: 7px 8px 0px black;
}

.noticia-info-elden{
    color: black;
    display: flex;
    flex-direction: column;
    width: 500px;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px gray;
 }

 .noticia-info-elden button{
    width: 200px;
    box-shadow: 5px 5px 0px black;
}

.img-elden img{
    width: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 0px gray;
}  


/* ....... */

/*  otras noticias*/

.otras-noticias{
    background: url(../imagenes/background.jpg);
    padding: 30px;
}

.cover-otras-noticias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.titulo-otras-noticias {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.titulo-otras-noticias h3{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace; 
    text-shadow: 5px 4px 5px black;
}
.callisto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 270px;
    box-shadow: 5px 5px 0px black;
}
.callisto img {
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
    box-shadow: 5px 5px 0px gray;
}

.callisto p{
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 5px 4px 5px gray;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;  
}

/* ...... */

/* tlou-serie */

.serie-tlou{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 270px;
    box-shadow: 5px 5px 0px black;
}
.serie-tlou img {
    box-shadow: 5px 5px 0px gray;
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}

.serie-tlou p{
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 5px 4px 5px gray;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;  
}

/* ...... */

/* FORTNITE */

.fortnite{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 270px;
    box-shadow: 5px 5px 0px black;
}
.fortnite img {
    box-shadow: 5px 5px 0px gray;
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}

.fortnite p{
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 5px 4px 5px gray;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;  
}

/* ..... */

/* witcher */

.witcher{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 270px;
    box-shadow: 5px 5px 0px black;
}
.witcher img {
    box-shadow: 5px 5px 0px gray;
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}

.witcher p{
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 5px 4px 5px gray;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;  
}

/* .... */

/* miles morales */
.miles-morales{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 270px;
    box-shadow: 5px 5px 0px black;
}
.miles-morales img {
    box-shadow: 5px 5px 0px gray;
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}

.miles-morales p{
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 5px 4px 5px gray;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;  
}

/* .... */

/* GAMES AWARD */

.games-award{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 270px;
    box-shadow: 5px 5px 0px black;
}
.games-award img {
    box-shadow: 5px 5px 0px gray;
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}

.games-award p{
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 5px 4px 5px gray;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;  
}



/* GOTY-2022 */
.goty{
    background: url(../imagenes/background.jpg);
}

.titulo-goty{
    display: flex;
    justify-content: center;  
}

.titulo-goty h1{
     font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
}

.texto-goty{
    display: flex;
    justify-content: center;
}
.texto-goty p{
    width: 900px;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
    margin-bottom: 80px;
}

.AAA-juegos-cover{
    display: flex;
    justify-content: center;
}

.AAA-juego{
    border-radius: 30px;
   display: flex;
   justify-content: center;
   background-color: #3E03B0;
   width: 1000px;
   gap: 20px;
   box-shadow: 5px 5px 0px black;
}

.AAA-juego img {
    border-radius: 30px;
}

.goty-text p{
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
}

.goty-text h3{
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
}

.boton-votar button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
}

/* otros triple A */

.otros-AAA{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.horizon{
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E03B0;
    width: 320px;
    height: 230px;
    box-shadow: 5px 5px 0px black;
}
.horizon img {
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}
.horizon button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
    border-radius: 30px;
    margin-top: 20px;
    width: 140px;
}

/* .... */

.xenoblade-3{
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E03B0;
    width: 320px;
    height: 230px;
    box-shadow: 5px 5px 0px black;
}
.xenoblade-3 img {
    margin-top: 32px;
    border-radius: 30px;
    width: 250px;
}
.xenoblade-3 button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
    border-radius: 30px;
    margin-top: 20px;
    width: 140px;
}

/* .... */

.gran-turismo{
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E03B0;
    width: 320px;
    height: 230px;
    box-shadow: 5px 5px 0px black;
}
.gran-turismo img {
    margin-top: 25px;
    border-radius: 30px;
    width: 250px;
}
.gran-turismo button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
    border-radius: 30px;
    margin-top: 20px;
    width: 140px;
}


/* ....indie */
.indie-cover{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.indie-juego{
    border-radius: 30px;
   display: flex;
   justify-content: center;
   background-color: #3E03B0;
   width: 1000px;
   gap: 20px;
   box-shadow: 5px 5px 0px black;
}

.indie-juego img {
    border-radius: 30px;
}

.indie-text p{
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
}

.indie-text h3{
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    text-shadow: 5px 4px 5px black;
}

.indie-text button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
}

/* .... */

/* otros indies */

.otros-indies{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.sifu{
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E03B0;
    width: 320px;
    height: 230px;
    box-shadow: 5px 5px 0px black;
}
.sifu img {
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}
.sifu button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
    border-radius: 30px;
    margin-top: 20px;
    width: 140px;
}

/* ..... */

.cult{
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E03B0;
    width: 320px;
    height: 230px;
    box-shadow: 5px 5px 0px black;
}
.cult img {
    margin-top: 35px;
    border-radius: 30px;
    width: 250px;
}
.cult button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
    border-radius: 30px;
    margin-top: 20px;
    width: 140px;
}

/* ..... */

.have{
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E03B0;
    width: 320px;
    height: 230px;
    box-shadow: 5px 5px 0px black;
}
.have img {
    margin-top: 20px;
    border-radius: 30px;
    width: 250px;
}
.have button{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
    border-radius: 30px;
    box-shadow: 5px 5px 0px black;
    border-radius: 30px;
    margin-top: 20px;
    width: 140px;
}

/* .... */

/* FOOTER */
.footer{
    background-color: #3E03B0;
    height:300px;
    display: flex;
    justify-content: center;
}
.cover-footer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 30px;
    justify-content: center;
}
.moneda img{
    width: 100px;
    height: 120px;
}
.moneda {
    display: flex;
    justify-content: center;
}

.info-footer p{
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
}

.info-footer{
    
    display: flex;
    flex-direction: column;
}

.info-footer h4{
    color: white;
    text-shadow: 5px 4px 5px black;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace; 
}

.redes-footer p{
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
}

.redes-footer {
    display: flex;
    flex-direction: column;
}

.redes-footer h4{
    color: white;
    text-shadow: 5px 4px 5px black;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Mono', monospace;
}




